.event-container{
    max-width: 1200px;
    height: 100%;
}

.event-box{
    width: 100%;
}

.event-inner-box-hold{
    background-color: #ff9f49;
}

.event-inner-box-join{
    background-color: #a0bc61;
}

.event-inner-box-hold, .event-inner-box-join{
    height: 50px;
}

.event-inner-box-hold span, .event-inner-box-join span{
    color: #234059;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 20px;
}

.event-inner-box-contents{
    height: 300px;
    margin-top: 0px;
    background-color: #fff;
}
